<div class="game-container">

    <div class="score">
        <span id ="blue-players" class="players-names team-blue">
           
        </span>
        <span id="score" class="score-numbers"></span>
        <span id ="white-players" class="players-names team-white">
        </span>
    </div>
    <div id="clock"></div>


    <hr />
    <div class="goals-list">
        
    </div>

</div>


@section Scripts
{
    <script src="~/scripts/gameindex.js"></script>
    <script>
        var url = '@Url.Action("RetrieveGameState")';
        gameindex.drawGamestate(url);

    </script>
}