@model GameState

@using IFoozLiveView.Models
<div class="game-container">
    <div id="winner">

    </div>
    <div class="game-info">
        <i class="fa fa-caret-square-o-right" title="Kampstart"></i>&nbsp;
        <span id="game-start"></span>
    </div>
    <div class="score">
        <span id ="blue-players" class="players-names team-blue">
           
        </span>
        <span id="score" class="score-numbers"></span>
        <span id ="white-players" class="players-names team-white">
        </span>
    </div>
    <div id="clock"></div>
    <hr/>
    <div class="goals-list">

    </div>


</div>



@section Scripts
{
    <script src="~/lib/signalr/jquery.signalR.min.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/scripts/game.js"></script>
    <script>
        // Draw game
        var url = '@Url.Action("RetrieveGameState")';
        game.retrieveAndDrawGameState(url);


        // Set up socket
        $(function () {
            var gameHub = $.connection.game;

            gameHub.client.publish = function (gameState) {
                game.drawGameState(gameState);

            };
            
            $.connection.hub.start();
        });

    </script>
}